[submodule ".config/DankMaterialShell/plugins/.repos/0026f1eba8dedaec"]
	path = .config/DankMaterialShell/plugins/.repos/0026f1eba8dedaec
	url = https://github.com/AvengeMedia/dms-plugins
[submodule ".config/DankMaterialShell/plugins/acerSense"]
	path = .config/DankMaterialShell/plugins/acerSense
	url = https://github.com/raphamzn/dms-acer-sense
