/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #e1a32c !important;
  --toolbarbutton-icon-fill: #ffbe4a !important;
  --toolbar-field-color: #ece1d3 !important;
  --tab-selected-textcolor: #ffbe4a !important;
  --toolbar-color: #ece1d3 !important;
  --arrowpanel-color: #ece1d3 !important;
  --arrowpanel-background: #241f17 !important;
  --sidebar-text-color: #ece1d3 !important;
  --zen-main-browser-background: #18130b !important;
  --zen-main-browser-background-toolbar: #18130b !important;
}

#zen-browser-background {
  --zen-main-browser-background: #18130b !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #18130b !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #241f17 !important;
}

#zen-workspaces-button {
  background-color: #241f17 !important;
}

#TabsToolbar {
  background-color: #18130b !important;
}

.urlbar-background {
  background-color: #241f17 !important;
}

.urlbar-input::selection {
  color: #432c00 !important;
  background-color: #ffbe4a !important;
}

.urlbarView-url {
  color: #d5c4af !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffbe4a
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc765 !important;
  --identity-icon-color: #ffc765 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffbe4a !important;
  --identity-icon-color: #ffbe4a !important;
}

.identity-color-green {
  --identity-tab-color: #93ff80 !important;
  --identity-icon-color: #93ff80 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe980 !important;
  --identity-icon-color: #ffe980 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffdd37 !important;
  --identity-icon-color: #ffdd37 !important;
}

.identity-color-red {
  --identity-tab-color: #ff8177 !important;
  --identity-icon-color: #ff8177 !important;
}

.identity-color-pink {
  --identity-tab-color: #ffd180 !important;
  --identity-icon-color: #ffd180 !important;
}

.identity-color-purple {
  --identity-tab-color: #764b00 !important;
  --identity-icon-color: #764b00 !important;
}

#zen-appcontent-navbar-container {
  background-color: #18130b !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ffbe4a !important;
  color: #ffbe4a !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ffbe4a !important;
  color: #ffbe4a !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ffbe4a !important;
}
